<footer class="footer">
      <div class="container-fluid text-center text-muted">
        <p class="text-muted"><strong>Michael S. Lewis — CS340 — Winter 2017</strong></p>
      </div>
</footer>
