{{> header}}

<div class="container-fluid text-center">
  <h1>Search for names of actors who appeared in the episode 'Laserblast':</h1>
  <br>
</div>
<div class="container-fluid col-md-offset-3">
  <div class="codeExample">
  	<code>SELECT actor.fname, actor.lname FROM actor</code>
  	<br>
    <code>INNER JOIN actor_episode ON actor.id = actor_episode.actor_id</code>
    <br>
    <code>INNER JOIN episode ON episode.id = actor_episode.episode_id</code>
    <br>
    <code>WHERE episode.title = "Laserblast"</code>
  </div>
</div>
<br>

{{> displayResults}}
