{{> header}}

<body class="mst3k_Background">

<div class="container text-center">
	<div class="jumbotron">
	  <h1>Welcome to the MST3K Database!</h1>
	  <br><br>
	  <div class="container text-center">
		  <h3>
		    Please click on any of the widgets in the header to display a database table and to add, update, or delete rows from it, or to display an example search query and its results.
		  </h3>
</div>
	</div>
</div>
</body>
