{{> header}}

<div class="container-fluid text-center">
  <h1>Add, update, delete, and view data from the 'movie' table:</h1>
</div>

<div class="container-fluid col-md-offset-1">
  <form class="form-inline">
      <div class="row">
        <div class="form-group ">
          <input type="text" class="form-control" id="addtitle" placeholder="title">
        </div>
        <div class="form-group ">
          <input type="text" class="form-control" id="adddirector_fname" placeholder="director_fname">
        </div>
        <div class="form-group ">
          <input type="text" class="form-control" id="adddirector_lname" placeholder="director_lname">
        </div>
        <div class="form-group ">
          <input type="text" class="form-control" id="addyear" placeholder="year">
        </div>
        <div class="form-group ">
          <input type="text" class="form-control" id="addsynopsis" placeholder="synopsis">
        </div>
        <div class="form-group ">
          <input type="number" class="form-control" id="addgenre_id" placeholder="genre_id">
        </div>
        <div class="form-group edit-buttons">
          <button id="addRow" class="btn btn-default" role="button" type="button" name="button">Add Row</button>
        </div>
      </div>
  </form>
</div>

{{> displayTable}}
